<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
    <!--<link href="html5-music-player-app/assets/css/styles.css" rel="stylesheet">-->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <nav class="top-bar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="logo-area">

            <button href="#" class="btn btn-link btn-nav-sidebar-minified pull-left" data-toggle="collapse" id="menu-toggle"><i class="fa fa-exchange"></i></button>
            <button class="btn btn-link btn-off-canvas pull-left"><i class="icon ion-navicon"></i></button>

            <div class="logo pull-left">

                <button type="button" class="btn btn-primary btn-xs btn-rightMenu" data-toggle="offcanvas">Right Menu</button>
            </div>
        </div>

        <div class="top-bar-right pull-right">

            <div class="logged-user">
                <div class="btn-group">
                    <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="assets/img/user-loggedin.png" alt="Henrique"><span class="name">Henrique <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                <i class="icon ion-ios-person"></i>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon ion-ios-gear"></i>
                                <span class="text">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon ion-power"></i>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>




    <div id="wrapper" class="toggled-2 toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li class="active">
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>What's new</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x "></i></span>Top List</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-headphones fa-stack-1x "></i></span>Radio</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-star fa-stack-1x "></i></span>Favorites</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Files</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-play-circle fa-stack-1x "></i></span>Playlists</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-envelope-o fa-stack-1x "></i></span>Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-12 col-sm-8 col-md-9 center-column">
                    <div class="title">
                        <h3>Collection</h3>
                        <p>Your favorite albums off all the time</p>
                    </div>

                    <div class="gallery">
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                        <div class="gallery-item">
                            <div class="gallery-item-inner"></div><span><b>Music Name</b></span>
                            <div>Author</div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!--/.col-xs-12.col-sm-9-->

                <div class="col-xs-12 col-sm-4 col-md-3 sidebar-offcanvas right-column" id="sidebar">
                    <!--<div class="disabled" id="container">
                        <div class="player-music" style="color: black;">
                            <div id="cover-art">
                                <div id="cover-art-big"></div>
                                <img id="cover-art-small" alt="cover-art-small" src="http://lorempixel.com/500/500/">
                            </div>

                            <div id="wave"></div>
                        </div>
                        <div id="control-bar">

                            <div class="player-control">
                                <div id="previous-button" title="Previous"><i class="fa fa-fast-backward"></i></div>
                                <div id="play-button" title="Play"><i class="fa fa-play"></i></div>
                                <div id="pause-button" title="Pause"><i class="fa fa-pause"></i></div>
                                <div id="stop-button" title="Stop"><i class="fa fa-stop"></i></div>
                                <div id="next-button" title="Next"><i class="fa fa-fast-forward"></i></div>
                                <div id="shuffle-button" title="Shuffle Off"><i class="fa fa-random"></i></div>
                                <div id="repeat-button" title="Repeat Off"><i class="fa fa-refresh"><span>1</span></i></div>
                            </div>

                            <div id="playlist">

                                <div id="track-details" title="Show playlist">
                                    <i class="fa fa-sort"></i>
                                    <p id="track-desc">There are no tracks loaded in the player.</p>
                                    <p id="track-time">
                                        <span id="current">-</span> / <span id="total">-</span>
                                    </p>
                                </div>

                                <div id="expand-bar" class="hidden">

                                    <form>
                                        <label for="searchBox">Search</label>
                                        <div>
                                            <input id="searchBox" type="search" name="search">
                                        </div>
                                    </form>
                                    <ul id="list"></ul>
                                </div>

                            </div>

                        </div>

                        <div id="drop-zone" class="hidden">Drag &amp; Drop Files Here</div>
                    </div>
                </div>-->
                <!--/.sidebar-offcanvas-->
                    
                <div class="player-box">    
                <div class="player-cover">
                    <img src="http://lorempixel.com/500/500">
                    <span class="song-name"></span>
                </div>
                <div class="player-music">
                    <div class="player-buttons">
                        <div style="height: 15px">
                        <i class="fa fa-heart" style="
                            float: left;
                        "></i>
                        <i class="fa fa-bars" style="
                            float: right;
                        "></i></div>
                        <div class="trackControls">
                        <button id="last">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-angle-left fa-stack-2x fa-gray"></i>
                            </span>
                        </button>
                        <button id="play">
                        <span class="fa-stack fa-lg fa-2x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i id="playIcon" class="fa fa-play fa-stack-1x fa-gray"></i>
                            </span>
                        
                        </button>
                        <button id="next">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-angle-right fa-stack-2x fa-gray"></i>
                            </span>
                        </button>
                        
                        </div>
                        <div id="timeline">
                            <progress id="seek" value="0" max="1"></progress>
                            <div id="time">
                                <p id="elapsedtime">00:00</p>
                                <p id="totaltime">00:00</p>
                            </div>
                        </div>
                    
                        <div class="volumeControls row">
                            <div class="col-xs-3"><i class="fa fa-random"></i></div>
                            <div class="col-xs-6 nopadding">
                                <i id="volumeIcon" class="fa fa-volume-down"></i>
                                <input type="range" id="volume" min="0" value="50" max="100"/>
                            </div>
                            <div class="col-xs-3"><i class="fa fa-retweet"></i></div>
                        </div>
                    </div>
                    
                </div>
                </div>
                    
                    
                    
                    
                    
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <!--<script src="html5-music-player-app/assets/js/id3-minimized.js"></script>
    <script src="html5-music-player-app/assets/js/wavesurfer.min.js"></script>
    <script src="html5-music-player-app/assets/js/script.js"></script>-->
</body>

</html>