extends layout

block content
  div 
    h1= title
    p List of Music
    br
    br
    br
    br
  div
    form(id='index_form')
      label Coloque o caminha da pasta que queira listar as musicas.
      br
      br
      input(type='text', id='file_path')
      input(type='submit', id='submit_bt', value='enviar')
      br
      br
      br
      br
  div(id='music_list')
    input(type='button', id='button_request')
    br
  